@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Applicação com foco nos estudos para realizar a primeira aplicação usando ASP.NET Core</p>

<p>CEO: @ViewData["CEO"]</p>
